<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .username,
      .password {
        margin-bottom: 8px;
      }
    </style>
  </head>
  <body>
    <form action="/" method="post">
      <div class="username">
        <label for="username"> Username </label>
        <input type="text" id="username" name="username" />
      </div>
      <div class="password">
        <label for="password"> Password </label>
        <input type="password" id="password" name="password" />
      </div>
      <div>
        <button type="submit">Sign in</button>
      </div>
      <% if (showInputError) { %>
      <p>Invalid username and password!</p>
      <% } %>
    </form>
  </body>
</html>