<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h2><%= username %></h2>
    <p>Login time records:</p>
    <ul>
      <% for (const timestamp of timestamps) { %>
      <li><%= new Date(timestamp) %></li>
      <% } %>
    </ul>
    <form action="/logout" method="post">
      <button type="submit">Sign out</button>
    </form>
  </body>
</html>